# Eclipse specific files
.classpath
.project
.settings/

# Build / Output folders
/bin/
/build/

# Ignore db.properties in WEB-INF/classes
src/main/webapp/WEB-INF/classes/db.properties

# Ignore email.properties in WEB-INF/classes
src/main/webapp/WEB-INF/classes/email.properties

# Server-specific files
Servers/
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db
